<div [ngStyle]="{
        'top.px': sizeI.boxT,
        'height.px': (sizeI.footer - sizeI.boxT),
        'width.px': sizeI.breedte,
        'background-image': backFoto.name
}">

<div class="palet">
    <div *ngFor="let item of treemd">
        <figure (click)="keuze(item)">
            <img src="./thumb/{{item.name}}"/>
        </figure>
    </div>
</div>

<div *ngIf="showGroot" class="kader"
     [ngStyle]="{'top.px': sizeI['upperY'],
                 'left.px': sizeI['upperX'],
                 'width.px': sizeI['fotoWidth'],
                 'height.px': sizeI['fotoHeight']}"
     (swipeleft)="swipe($event.type)"
     (swiperight)="swipe($event.type)">
    <img (click)="geenGroot()"
         src="{{groot}}"
         width="{{sizeI['fotoWidth']}}"
         height="{{sizeI['fotoHeight']}}">

    <div class="arrows">
        <div *ngIf="(nF != lF)" (click)="next()">
            <img src="./resources/next.png">
        </div>
        <div *ngIf="(nF == lF)">
            <img src="./resources/leeg.png">
        </div>
        <div *ngIf="(nF != 0)" (click)="prev()">
            <img src="./resources/prev.png">
        </div>
    </div>

</div>